
:root {
    --basic-black: #000000;
    --basic-dark: #363636;
    --basic-grey: #464646;
    --basic-half-grey: #7e7e7e;
    --basic-grey-light: #e5e5e5;
    --basic-grey-light-2: #D9D9D9;
    --basic-grey-light-3: #F2F2F2;
    --basic-grey-light-4: #EAEAEA;
    --basic-grey-92: #EBEBEB;
    --basic-grey-gainsboro: #DCDCDC;
    --basic-white: #FFFFFF;
    --special-yellow-dark: #f0c52e;
    --special-yellow: #f7e296;
    --special-green: #91c92f;
    --special-pink: #f6dada;

    --black-opacity-0-3:rgba(0, 0, 0, 0.3);
    --black-opacity-0-6:rgba(0, 0, 0, 0.6);
    --white-opacityt-0-3: rgba(255, 255, 255, 0.3);
    --white-opacityt-0-7: rgba(255, 255, 255, 0.7);
    --white-opacityt-0-1: rgba(255, 255, 255, 0.1);

}

@font-face {
  font-family: "Gilroy";
  src: local("Gilroy"),
       url("../fonts/gilroylight.woff2") format("woff2"),
       url("../fonts/gilroylight.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: local("Gilroy"),
       url("../fonts/gilroyextrabold.woff2") format("woff2"),
       url("../fonts/gilroyextrabold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: local("Open Sans"),
       url("../fonts/opensans.woff2") format("woff2"),
       url("../fonts/opensans.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: local("Open Sans"),
       url("../fonts/opensanslight.woff2") format("woff2"),
       url("../fonts/opensanslight.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

.visually-hidden {
  display: none;position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page {
  height: 100%;
}

.page-body {
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
  min-width: 1160px;
  margin: 0;
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 300;
  font-size: 15px;
  color: var(--basic-black);
  min-height: 100%;
}

/* Main head---------------------------------------------------------------------------------------------------------- */

.main-header {
  width: 1160px;
  box-sizing: border-box;
  margin: 40px auto 0px auto;
  padding: 0 60px;
  background-color: var(--special-yellow);

  outline: 2px solid green;
  outline-offset: -2px;
}

.main-header-logo img {
  display: block;
  margin-top: -20px;
}

.main-header-logo:hover img {
  opacity: 0.6;
}

.main-header-logo:active img {
  opacity: 0.3;
}

/* Search------------------------------------------------------------------------------------------------------------- */

.header-functions-search-wrapper {
  display: flex;
  margin-top: 29px;
}

.search-wrapper {
  margin: 0;
  width: 540px;
  outline: 2px solid lightsalmon;
  outline-offset: -2px;
}

.search {
  padding-bottom: 15px;
  background-color: transparent;
  border: 2px solid transparent;
}

.search::placeholder {
  color: var(--black-opacity-0-3);
}

.search:hover::placeholder {
  color: var(--black-opacity-0-6);
}

.search:focus {
  color: var(--basic-black);
  border-bottom: 2px solid var(--basic-black);
  outline: none;
}

.search-button {
  font-weight: 300;
  line-height: 20px;
  background: none;
  text-transform: uppercase;
  border: 2px solid var(--basic-black);
  padding: 15px 17px;
}

.search-button:hover {
  color: var(--basic-white);
  background-color: var(--basic-black);
}

.search-button:active {
  color: var(--white-opacityt-0-3);
  background-color: var(--basic-black);
}

/* header-functions---------------------------------------------------------------------------------------------------- */

.header-functions {
  display: flex;
  align-items: center;
  width: 500px;
  box-sizing:border-box;
  list-style: none;
  margin: 0;
  padding: 0;
  padding-left: 24px;

  outline: 2px solid yellow;
  outline-offset: -2px;
}

.header-functions li:last-child {
  margin-right: 0;
}

.header-functions li:nth-last-child(2) {
  margin-right: 63px;
  margin-left: auto;
}

.header-functions a {
  font-size: 15px;
  line-height: 20px;
  text-decoration: none;
  color: var(--basic-black);
  position: relative;
}

 .header-functions-exit{
  opacity: 0.3;
  margin-left: 20px;
}

/* login-link-------------------------------------------------------------------------------------------------------- */

.login-link::before {
    content: "";
    position: absolute;
    left: -20px;
    top: 4px;
    width: 13px;
    height: 14px;
    background-image: url("../img/icons/icon_user.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.compare-link::before {
  content: "";
  position: absolute;
  left: -20px;
  top: 4px;
  width: 14px;
  height: 14px;
  background-image: url("../img/icons/icon_compare.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.cart-link::before {
  content: "";
  position: absolute;
  left: -20px;
  top: 4px;
  width: 10px;
  height: 10px;
  background-image: url("../img/icons/icon_cart.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

/* .site-navigation--------------------------------------------------------------------------------------------------- */
.site-navigation {
  margin-top: 50px;

  outline: 2px solid white;
  outline-offset: -2px;
}

.site-navigation-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.site-navigation-item:last-child {
  margin-right: 0;
  margin-left: auto;
}

.site-navigation-item:nth-last-child(2) {
  margin-right: auto;
  margin-left: 38px;
}

.site-navigation-list a {
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--basic-black);
}

 .site-navigation-catalog {

   width: 540px;
   outline: 2px solid greenyellow;
   outline-offset: -2px;
}

 .site-navigation-catalog-link {
   position: relative;
 }
 .site-navigation-catalog-link::after {
  content: "";
  position: absolute;
  left: 231px;
  width: 22px;
  height: 22px;
  background-image: url("../img/icons/icon_plus.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.site-navigation-list a:hover, .header-functions a:not(.header-functions-exit):hover {
  color: var(--black-opacity-0-6);
}

.site-navigation-list a:active, .header-functions a:not(.header-functions-exit):active {
  color: var(--black-opacity-0-3);
}

.site-navigation-inner {
  display: grid;
  grid-template-columns: fit-content(60%) fit-content(50%) fit-content(50%);
  column-gap: 60px;
  list-style: none;
  margin: 0;
  margin-top: 30px;
  padding: 0;
}

.site-navigation-inner-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.site-navigation-inner-list li {
  margin-bottom: 20px;
}

.site-navigation-inner-list li:last-child {
  margin-bottom: 46px;
}


.site-navigation-inner a {
  display: block;
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 300;
  letter-spacing: normal;
  font-size: 15px;
  line-height: 20px;
  text-transform: none;
}


/* MAIN */

.main-wrapper {
  width: 1160px;
  margin: 0 auto;
}
/* Slider------------------------------------------------------------------------------------------------------------- */

.slider {
  width: 1160px;
  margin: 0 auto;
  position: relative;
}

.slider-buttons {
  position: absolute;
  top: 320px;
  left: 1000px;
}

.slide {
  display: grid;
  height: 506px;
  grid-template-columns: 600px 560px;
  margin: 0 auto ;
  margin-top: -160px;
  outline: 2px solid red;
  outline-offset: -2px;
  display: none;  /* ALL SLIDES */
}

.slide-active {
  display: grid;
}

.slide-container-wrapper {
  outline: 2px solid lightblue;
  outline-offset: -2px;
}

.slide-quadrotor img {
  width: 526px;
  height: 334px;
  margin-top: 100px;
  margin-left: 30px;

  outline: 2px solid lightblue;
  outline-offset: -2px;
}

.slide-braslet img {
  width: 345px;
  height: 485px;
  margin-top: 43px;
  margin-left: 27px;

  outline: 5px solid lightblue;
  outline-offset: -5px;
}

.slide-stick img {
  width: 384px;
  height: 486px;
  margin-top: 17px;

  outline: 2px solid lightblue;
  outline-offset: -2px;
}

.slide-number {
font-family: "Gilroy", "Arial", sans-serif;
color: var(--basic-white);
font-weight: 800;
font-size: 179px;
line-height: 170px;
margin: 0;
text-align: right;
margin-right: 47px;
}

.button-link {
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.2em;
  text-align: center;
  text-transform: uppercase;
  color: var(--basic-black);
  text-decoration: none;
  border:none;
  background-color: transparent;
  padding: 0;
}

.button-link:not(.link-active):hover {
  background-color: var(--special-yellow-dark);
}

.button-link:not(.link-active):active {
  background-color: var(--special-yellow-dark);
  color: var(--black-opacity-0-3);
}

.slide-title {
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
  font-size: 47px;
  line-height: 58px;
  margin: 0;
  margin-top: -70px;
}

.slide-description {
  line-height: 20px;
  margin: 30px 0 60px 0;
}

.slide-specifications {
  display: grid;
  grid-template-columns: repeat(3, fit-content(50%));
  gap: 64px;
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 300;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: 64px;
}

.slide-specifications-value {
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0.1em;
  margin: 0;
}

.slide-specifications-name {
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.1em;
  margin: 0;
  margin-top: 15px;
}

/*Categories---------------------------------------------------------------------------------------------------------- */

.categories {
  margin: 91px auto 0 auto;
  outline: 2px solid rgb(255, 0, 0);
  outline-offset: -2px;

}

.categories-list {
  display: flex;
  grid-template-columns:repeat(6, 160px);
  gap: 40px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.categories-item-link {
  text-decoration: none;
}

.categories-title {
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.05em;
  color: var(--basic-black);
  width: 160px;
  margin: 0;
  margin-top: 38px;
}

.categories-background {
  width: 160px;
  height: 160px;
  background-color: var(--special-yellow);
  display:flex;
}

.categories-img {
  margin:auto;
}

.categories-item-link:hover .categories-background {
  background-color: var(--special-yellow-dark);
}

.categories-item-link:active .categories-img{
  opacity: 0.3;
}


/*Services------------------------------------------------------------------------------------------------------------ */

.services {
  width: 100%;
  margin: 0;
  margin-top: 49px;
  background-color: var(--basic-grey-light);

  outline: 2px solid rgb(255, 0, 0);
  outline-offset: -2px;
}

.services-wrapper {
  display: grid;
  grid-template-columns: 284px 1fr;
  width: 1160px;
  margin: 0 auto;

  outline: 5px solid blue;
  outline-offset: -5px;
}


.service-content {
  display: grid;
  grid-template-columns: 574px 1fr;
  margin-left: 116px;
  min-height: 403px;
  outline: 2px solid lightblue;
  outline-offset: -2px;
}

.service-active {
  display: grid;
}

.services-list {
  position: relative;
  list-style: none;
  padding: 0;
  margin: 0;
  padding-top: 95px;

  outline: 2px solid lightblue;
  outline-offset: -2px;
}

.services-list::after {
  content: "";
  position: absolute;
  top: 15px;
  right: 0;
  width: 7px;
  height: 320px;
  background-color: var(--basic-black);
}

.services-list li {
  margin-bottom: 30px;

}

 .link-active {
   width: 100%;
   text-align: left;
   padding: 9px 0 9px 10px;
  color: var(--special-yellow);
  background-color: var(--basic-black);
}

.services-title {
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
  font-size: 47px;
  line-height: 58px;
  letter-spacing: 0.2em;
  margin: 0;
  padding-top: 86px;
}

.services-info {
  line-height: 30px;
  letter-spacing: 0.1em;
  margin: 0;
  margin-top: 40px;
}

.tab-delivery img {
  display: block;
  width: 136px;
  height: 164px;
  margin-top: 86px;
  margin-left: 48px;
}

.tab-warranty img {
  display: block;
  width: 171px;
  height: 195px;
  margin-top: 68px;
  margin-left: 31px;
}

.tab-credit img {
  display: block;
  width: 156px;
  height: 188px;
  margin-top: 63px;
  margin-left: 22px;
}

/*Partners------------------------------------------------------------------------------------------------------------ */

.partners {

  margin-top: 90px;
  outline: 2px solid red;
  outline-offset: -2px;
}

.partners-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.partners-link {
  filter: grayscale(1) opacity(0.2);
}

.partners-link:hover {
  filter: grayscale(0) opacity(1);
}

/* About-------------------------------------------------------------------------------------------------------------- */

.about-contacts-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 127px;
  margin: 90px 0 86px 0;

  outline: 2px solid greenyellow;
  outline-offset: -2px;
}

.about {
  position: relative;
  width: 473px;

  outline: 2px solid red;
  outline-offset: -2px;
}

.about-title {
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
  font-size: 47px;
  line-height: 58px;
  letter-spacing: 0.2em;
  margin: 50px 0 50px 0;
}

.about-info {
  line-height: 28px;
  margin: 0;
  margin-bottom: 40px;
}

.about-list {
  margin: 60px 0 85px 0;
  padding: 0;
  padding-left: 32px;
}

.about-list li {
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 28px;
  height: 22px;
  margin: 0;
}

.about-list li:not(:last-child) {
  margin-bottom: 21px;
}

.about::before,
.contacts::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0;
  width: 80px;
  height: 7px;
  background-color: var(--basic-black);
}

/* contacts----------------------------------------------------------------------------------------------------------- */

.contacts {
  position: relative;
  width: 560px;

  outline: 2px solid red;
  outline-offset: -2px;
}

.contacts-title {
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
  font-size: 47px;
  line-height: 58px;
  letter-spacing: 0.2em;
  margin: 50px 0 50px 0;
}

.contacts-info {
  line-height: 28px;
  margin: 0;
  margin-bottom: 40px;
}

.contacts img {
  width: 560px;
  height: 222px;
  display: block;
  margin-bottom: 85px;
}


/* main-footer------------------------------------------------------------------------------------------------------- */

.main-footer {
  width: 100%;
  margin: 0 auto;
  padding-bottom: 65px;
  background-color: var(--basic-dark);
}

.footer-wrapper {
  width: 1160px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 33.3% 33.3% 33.3%;
  justify-content: space-between;

  outline: 2px solid red;
  outline-offset: -2px;
}

.footer-container-left {
  outline: 2px solid red;
  outline-offset: -2px;
}

.main-footer-logo img {
  display: block;
  margin-top: 64px;
}

.main-footer-logo:hover img {
  opacity: 0.6;
}

.main-footer-logo:active img {
  opacity: 0.1;
}

/* social------------------------------------------------------------------------------------------------------------- */

.social-list {
  display: grid;
  grid-template-columns: repeat(3, min-content);
  gap: 20px;
  justify-content: center;
  margin: 0;
  margin-top: 67px;
  padding: 0;
  list-style: none;

  outline: 2px solid pink;
  outline-offset: -2px;
}

.social-list path {
  fill-opacity: 0.3;
}

.social-list a:hover path {
  fill-opacity: 0.6;
}

.social-list a:active path {
  fill-opacity: 0.1;
}


/* footer-address----------------------------------------------------------------------------------------------------- */

.footer-address {
  margin-top: 40px;
  width: 212px;
  line-height: 20px;
  color: var(--basic-white);
}

/* footer-navigation-list--------------------------------------------------------------------------------------------- */

.footer-navigation {
  text-align: center;
}

.footer-navigation-list {
  display: grid;
  grid-template-columns: repeat(3, min-content);
  gap: 36px;
  justify-content: center;
  margin: 0;
  margin-top: 138px;
  padding: 0;
  list-style: none;

  outline: 2px solid pink;
  outline-offset: -2px;
}

.footer-navigation-list a {
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: var(--basic-white);
  text-decoration: none;
}

.footer-navigation-list a:hover {
  opacity: 0.6;
}

.footer-navigation-list a:active {
  opacity: 0.3;
}

/* footer-function--------------------------------------------------------------------------------------------------- */


.footer-container-right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  outline: 2px solid red;
  outline-offset: -2px;
}

.footer-functions-list {
  display: flex;
  justify-content: flex-end;
  width: 500px;
  margin: 0;
  margin-top: 46px;
  padding: 0;
  list-style: none;

  outline: 2px solid red;
  outline-offset: -2px;
}

.footer-functions-list a {
  text-decoration: none;
  line-height: 20px;
  color: var(--white-opacityt-0-7);
  position: relative;
}

.footer-functions-list a:hover {
  color: var(--basic-white);
}

.footer-functions-list a:active {
  color: var(--white-opacityt-0-3);
}

.footer-login-link {
  margin-right: 24px;
}

.footer-compare-link {
  margin-right: 63px;
  margin-left: 63px;
}

.footer-login-link::before {
  content: "";
  position: absolute;
  left: -20px;
  top: 4px;
  width: 13px;
  height: 14px;
  background-image: url("../img/icons/icon_user_footer.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 1;
}

.footer-compare-link::before {
  content: "";
  position: absolute;
  left: -20px;
  top: 4px;
  width: 13px;
  height: 14px;
  background-image: url("../img/icons/icon_compare_footer.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 1;
}

.footer-cart-link::before {
  content: "";
  position: absolute;
  left: -20px;
  top: 4px;
  width: 13px;
  height: 14px;
  background-image: url("../img/icons/icon_cart_footer.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 1;
}

/* phone-------------------------------------------------------------------------------------------------------------- */

.phone {
  line-height: 20px;
  color: var(--basic-white);
  text-decoration: none;
  margin-top: 73px;
  outline: 2px solid red;
  outline-offset: -2px;
}

.academy-logo {
  margin-top: 68px;

  outline: 2px solid red;
  outline-offset: -2px;
}


.academy-logo:hover {
  opacity: 0.6;
}

.academy-logo:active {
  opacity: 0.3;
}

/* MODAL----------------------------------------------------------------------------------------------------------- */

.modal-label {
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
}

.modal-input, .modal-textarea {
  font-size: 14px;
  line-height: 19px;
  font-weight: 400;
  background-color: var(--basic-grey-light-3);
  border: 2px solid transparent;
  outline: none;
}

.modal-input:hover, .modal-textarea:hover {
  background-color: var(--basic-grey-light-4);
}

.modal-input:focus, .modal-textarea:focus {
  background:none;
  border: 2px solid var(--special-yellow);
}

/* catalog.html------------------------------------------------------------------------------------------------------- */

.main-title {
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
  font-size: 47px;
  line-height: 58px;
  margin: 44px 0 0 60px;

  outline: 2px solid red;
  outline-offset: -2px;
}

/* breadcrumbs-------------------------------------------------------------------------------------------------------- */

.breadcrumbs-list {
  display: grid;
  grid-template-columns: repeat(3, auto);
  width: 385px;
  gap: 40px;
  list-style: none;
  padding: 0;
  margin: 30px 0 0 60px;

  outline: 2px solid red;
  outline-offset: -2px;
}

.breadcrumbs-list a {
  text-decoration: none;
  font-size: 14px;
  line-height: 19px;
  color: var(--basic-black);
  opacity: 0.3;
}

.breadcrumbs-list a:hover {
  opacity: 0.6;
}

.breadcrumbs-list a:active {
  opacity: 0.1;
}

/* filter------------------------------------------------------------------------------------------------------------- */

.filter-catalog-wrapper {
  width: 1160px;
  display: grid;
  grid-template-columns: 328px 832px;
  margin: 50px auto 0 auto;

  outline: 2px solid green;
  outline-offset: -2px;
}

.filter {
  background-color: var(--basic-grey-light);

  outline: 2px solid red;
  outline-offset: -2px;
}

.filter-container {
  outline: 2px solid yellow;
  outline-offset: -2px;
}

.filter-title {
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  background-color: var(--basic-grey-gainsboro);
  margin: 0;
  padding: 25px 0 25px 60px;
}

.filter-subtitle {
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.1em;
  margin: 0;
  margin-bottom: 30px;
}

.filter-label {
  font-size: 14px;
  line-height: 19px;
}

.filter-form {
  margin: 0;
  margin-top: 70px;
  padding-left: 60px;
}

.form-block {
  position: relative;
  margin: 0;
  margin-top: 38px;
}

.form-block::before {
  content: "";
  position: absolute;
  top: -14px;
  width: 200px;
  height: 3px;
  background-color: var(--basic-black);
}

.filter-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.filter-list li:not(:last-child) {
  margin-bottom: 20px;
}

.filter-form .button-link {
  margin-top: 50px;
}

/* sort-------------------------------------------------------------------------------------------------------------- */

.sort {
  display: flex;
  align-items: baseline;
  background-color: var(--basic-grey-light);

  outline: 2px solid blue;
  outline-offset: -2px;
}

.sort-title {
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  margin: 0 74px 0 72px;
  padding: 25px 0 25px 0;

  outline: 2px solid blueviolet;
  outline-offset: -2px;
}

.sort-list {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
  outline: 2px solid blueviolet;
  outline-offset: -2px;
}

.sort-list a {
  font-size: 14px;
  line-height: 19px;
  color: var(--basic-black);
  text-decoration: none;
  opacity: 0.3;
}

.sort-list a:not(.sort-link-active):hover {
  opacity: 0.6;
}

.sort-list .sort-link-active {
  opacity: 1;
}

.sort-controls {
  display: flex;
  gap: 16px;
  list-style: none;
  margin: 0;
  margin-left: auto;
  padding: 0;

  outline: 2px solid blueviolet;
  outline-offset: -2px;
}

.sort-controls-increace {
  display: block;
  width: 18px;
  height: 18px;
  background-image: url(../img/icons/icon_up.svg);
  background-repeat: no-repeat;
}

.sort-controls-decrease {
  display: block;
  width: 18px;
  height: 18px;
  background-image: url(../img/icons/icon_down.svg);
  background-repeat: no-repeat;
}

.sort-controls-item {
  opacity: 0.2;
}

.sort-controls-item:not(.sort-controls-active):hover {
  opacity: 0.4;
}

.sort-controls-active {
  opacity: 1;
}

/* catalog------------------------------------------------------------------------------------------------------------ */

.catalog {
  display: grid;
  grid-template-columns: min-content min-content;
  column-gap: 40px;
  row-gap: 48px;
  padding-left: 72px;
  padding-top: 69px;
}

.catalog-item {
  min-height: 455px;
  margin: 0;
  position: relative;

  outline: 2px solid lightblue;
  outline-offset: -2px;
}

.catalog-item img {
  display: block;
  width: 360px;
  height: 380px;
}

.new::before {
  content: "";
  position: absolute;
  right: 29px;
  top: 27px;
  width: 62px;
  height: 62px;
  background-image: url("../img/icons/icon_new.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.catalog-item-link {
  text-decoration: none;
  max-width: 270px;
}

.catalog-item-link h3 {
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.05em;
  color: var(--basic-black);
  margin: 0;
}

.catalog-item-price {
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 0.05em;
  margin: 0;
}

.catalog-link-price-container {
  display: flex;
  justify-content: space-between;
  margin: 0;
  margin-top: 30px;
}

/* buttons-container------------------------------------------------------------------------------------------------ */

.buttons-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 180px;
  margin: 0;

}

/* compare-button--------------------------------------------------------------------------------------------------- */

.compare-button {
  font-size: 13px;
  line-height: 18px;
  letter-spacing: 0.1em;
  opacity: 0.5;
  border: none;
  background-color: transparent;
  margin: 0;
  margin-top: 22px;
  padding: 0;
}

.compare-button:hover {
  opacity: 1;
}

.compare-button:active {
  opacity: 0.1;
}

/* pagination------------------------------------------------------------------------------------------------------- */

.pagination {
  width: 760px;
  display: flex;
  margin: 40px 0 78px 72px;
  padding: 0;
  list-style: none;
  background-color: var(--basic-grey-92);

  outline: 2px solid blueviolet;
  outline-offset: -2px;
}

.pagination-item a {
  display: block;
  padding: 25px 15px 25px 15px;
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
  color: var(--basic-black);
  opacity: 0.3;
  text-decoration: none;
}

.pagination-next {
  margin-left: auto;
  margin-right: 0;

}

.pagination-prev {
  margin-left: 0;
  margin-right: auto;
}


.pagination-prev a, .pagination-next a {
  letter-spacing: 0.1em;
  text-transform: uppercase;
  padding-right: 30px;
  padding-left: 30px;
  opacity: 1;
}

.pagination-item:not(.pagination-prev, .pagination-next) a:not(.pagination-link-active):hover {
  opacity: 0.6;
}

.pagination-item .pagination-link-active {
  opacity: 1;
}

.pagination-prev a:hover, .pagination-next a:hover {
  background-color: var(--basic-grey-light-2);
}

.pagination-prev a:active, .pagination-next a:active {
  color: var(--black-opacity-0-3);
}


